MONGO_DB=ugc
MONGO_USERNAME=ugc
MONGO_PASSWORD=123qwe

# Для корректного тестирования пароль и алгоритм должны быть такими же, как и в ../../ugc/.env.example
JWT_SECRET_KEY=123qwe
JWT_ALGORITHMS=HS256

APPHOMEDIR=/opt/app
USERNAME=movies
USER_UID=1001
USER_GID=1001
